.root {
  background: white;
  display: flex;
  padding: 16px;
  position: sticky;
  top: 0;
}

.content {
  display: flex;
  max-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 100%;
}

.links {
  width: 100%;
  display: flex;
  margin: 0;
  list-style: none;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  > a {
    text-decoration: none;
  }
}
